*{
    font-family: Arial, Helvetica, sans-serif
}
.centro {
    text-align: center;
    
  }
  .pequeno {
    font-size: small;
    color:slategrey;
  }
  body{
    background-color: lightblue;
  }